body {
  background-color:#EEF1F2;
  color: #01224E;
  font-family: Arieal, Helvetica, sans-serif;
  margin: 5%;
}

.exp-header {
  color: #FB8600
}

.right{
    float:right;
}

img {
  border-radius: 50%;
  margin-left: 20px;
}

h1 {
  color: #01224E;
  font-size: 32px;
}

h3 {
  font-size: 16px;
}

h4 {
  color: #01224E;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

